@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

article{
    display: block;
}

   /* Nav */

   .header-pc{
       display: none;
   }

   .nav-button{
    background-color: transparent;
    border: none;
   }

  .nav-input, ul.submenu {
    display: none;
    list-style:none;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 15px;
    
  }
  

  label {
    position: relative;
    display: block;
    cursor: pointer;
    width: 100px;
    color: white;
    font-weight: bolder;

}
  
  .nav-input:checked~ul.submenu {
    display: block;
    position: absolute;
    z-index: 50;
    
  }

  .submenu li> a{
      font-size: 15px;
    color: white;
  }


   .header-container {
    background-image: linear-gradient(to bottom, #132433, #2571ae, #2571ae);
  }
  
  .btn-nav {
    background-color: transparent;
    width: 40px;
    border: none;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  
  .nav>li>a {
    color: black;
    padding: .5rem;
    font-size: medium;
  
  }
  
  .logo>img {
    width: 100%;
    max-width: 200px;
  }



/* IMAGE HEADER */


.background-blue{
    position: relative;
    height: 591px;
    background-image: linear-gradient( to bottom, #2571ae , #3ea0ce, #3ea0ce, transparent ) ;
  }

  .background-blue > img{
    z-index: 0;
    position: absolute;
    transform: translate(0%, -20%);
    right: 0;
    left: 0;
  }

  @media screen and ( min-width: 768px) {

    .background-blue > img{
    transform: translate(0%, -40%);
    }

  }
      
  @media screen and ( min-width: 768px) {
    .background-blue > img{
        transform: translate(0%, -60%);
        }
    .middle-photo img{
        height: 0%;
    }
  }


.img-container-first{
    width: 285px;
    position: absolute;
    height: 202px;
    top: 40%;

}

.img-container-first img{
    transform: translate(-10%, 26px);
    position: absolute;
    z-index: -1;
}

.banner{
    max-width: 100%;
    height: auto;

}

.background-blue h2{
    color: white;
    padding-left: 1rem;
    font-size: 5vh;
    padding-top: 79px;
    padding-bottom: 20px;
}

.background-blue p{
    z-index: 100;
    color: white;
    letter-spacing: 1px;
    line-height: 1.3;
    padding-bottom: 2.5rem;

}

.btn-blue {
    color: #fff;
    background-color: rgb(5,72,103);
    padding: 7px 50px;
    border-radius: 4px;
    border: none;
    position: relative;
} 

/* CARD */
 
.card{
    border-radius: 15px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.card img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.card h3{
    text-align: center;
    padding-bottom: 12px;
}

.card p {
    text-align: center;
    padding-bottom: 30px;
    margin: 5px;
}

.container-base h2 {
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 10px;
}

.container-base p{
    text-align: center;
}

/* MIDDLE PHOTO */

.middle-photo{
    margin-left: 15px;
    margin-right: 15px;
}

.middle-photo img{
    width: 320px;
    height: 350px;
    transform:translate(-46px, 10px);
    padding-bottom: 10%;
    padding-left: 60px;
    object-fit: cover;
}

.middle-photo h2{
    padding-left: 30px;
}

.middle-photo p {
    text-align: center;
    padding-bottom: 15px;
    font-size: 16px;
}

.btn-blue-center{
    font-size: 16px;
    color: #fff;
    background-color: rgb(5,72,103);
    padding: 7px 30px;
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

/* BLOG AC */



.container-blog h2{
    text-align: center;
    padding-bottom: 10%;
    padding-top: 5%;
}


.blog-content div > p{
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
}


.blog-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    padding-bottom: 15%;
}

/* FORM CONTATO */


.container-contact h2{
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.container-contact form{
    display: flex;
    flex-flow: column nowrap;
    padding: 15px
}

.name,
.email,
.assunto{
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    cursor: pointer;
    color: white;
    background-color: rgb(5,72,103);
    font-weight: 600;
    display: block;
}

/* FOOTER */ 

footer{
    background-image: url('../images/bg-footer.png');

}

footer h2 {
    padding-top: 10%;
    color: white;
    font-size: 15px;
}

.image-footer{
    display: block;
    float: left;
}

.image-footer img{
    padding-top: 20%;
}

.image-footer h4{
    color: white;
    font-size: 8px;
}

.social-icons{
    padding-top: 15px;
    padding-right: 15px;

}

.social-icons img{
    width: 50px;
    height: auto;
}

.container-blog{
    display: none;
}

footer{
    display: flex !important;
}

.link-footer{
    margin-top: 5rem;

    flex-grow: 1;
  
  }
  
  .link-footer > a{
    color: white;
    list-style: none;
  }

  ul{
      list-style: none;
  }

  .logo-reserved{

    flex-grow: 1;
    max-width: 100%;
    margin-top: 5rem;
   
}

.reserved{
  margin-top: 1rem;
  font-size: 8px !important;
  color: white;
}

.address-icons{
  -ms-flex-preferred-size: 0;

    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    margin-top: 5rem;
    /* padding: 0; */
}

.address{
  font-size: 12px !important;
  font-weight: 600;
  color: white;
}

.logo-footer{
  width: 10rem;
}

.icons > img{
  margin-top: 1rem;
  width: 50px;
  height: auto;
}

ul{
    display: none;
}

@media screen and (min-width:994px) {

    header{
        display: flex;
    }

    /* HEADER */
.nav-button{
    display: none;
}

.header-pc{
    display: flex;
    list-style: none;
    text-align: end;
    justify-content: right;
    padding-left: 14vh;
}

.header-pc  li>a{
    display: flex;
    color: white;
    padding: 20px;
}


/* PRIMEIRO BLOCO DESK */



.container-first p{
    width: 400px;
}

.img-container-first{
max-width: 100vh;
}

.btn-blue{
    margin-left: 6rem;
}

/* GRAFICOS */

.content-container{
margin: 0px 150px;
}

/* CARD */

.container-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* MIDDLE PHOTO */

.middle-photo{
display: inline-block;
}

.middle-photo img{
    display: flex;
    position: absolute;
    transform: translate(120%, 0px);
    max-height: 100%;
    height: 50%;
    width: 35%;
}

.middle-photo h2{
    text-align: center;
    padding: 15px 0px;
}

.middle-photo p{
    text-align: left;
}

.middle-content{
    width: 25rem;
    margin-left: 50px;
}

.btn-blue-center{
    margin-top: 20px;
    padding: 7px 70px;
}

.name,
.email,
.assunto{
    width: 50%;
    align-self: center;
}

form input[type="submit"] {
   width: 20%;
   align-self: center;
}

.content-blog>img{
    width: auto;
  }
  .container-blog{
    flex-flow: row nowrap;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    flex: 1 0 0%;
  }


  .content-blog {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    margin: 1.5rem !important;
    align-items: center !important;
    text-align: center !important;
  }
  
  
  .content-blog>img {
    width: 15rem;
  }
  

/* FOOTER */

ul{
    display: block;
}
 
ul li > a{
    color: white;
 
}


}