<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mockup</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<div class=" bg-blue ">
    <div class="collapse" id="menu">

        <ul class="nav">
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="#">QUEM SOMOS</a>
            </li>
            <li>
                <a href="#">SOLUÇÕES</a>
            </li>
            <li>
                <a href="#">BLOG</a>
            </li>

            <li>
                <a href="#">CONTATO</a>
            </li>
        </ul>

    </div>


    <nav class="navbar  ">
        <a href="#">
            <i class="logo">
                <img src="/public/images/logo-acpesquisa-web.png">
            </i>
        </a>
        <button class="hamburger" type="button" data-toggle="collapse" data-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">

            <i class="list">
                <img src="/public/images/svg/menu.svg">
            </i>

        </button>

    </nav>


</div>


<body>
    <div class="background-blue">
        
        <div class="img-teste">
        <img src="../public/images/imagem-banner.png" width="400px" height="400px" alt="">
        </div>

        <div class="teste">
        <h2>Isso é AC!</h2>

        <p>
            Formada por um time de especialistas em áreas de relevância (pesquisa, geomarketing, gestão, liderança, varejo, economia e estatística),
            a <b>AC Pesquisa</b> conta com vasta experiência no segmento de pesquisas para <b>Shopping Centers, varejo, comércio, real estate e indústrias.</b>
            Atua em parceria com equipes multidisciplinares e parceiros em todos os estados do Brasil e América do Sul. 
        </p>
        </div>
        <button class="btn-blue">
            <b>SAIBA MAIS</b>
        </button> 
    </div>



    <article class="container-base">
        <h2>Suas dúvidas acabam agora...</h2>

        <p>
            A base de nossa atuação é bastante conhecida:
            ferramentas de pesquisas Qualitativas, Quantitativas e Geomarketing
        </p>

        <div class="card">
            <img src="../public/images/icone-2.png" width="80px" height="auto" alt="Quantitativas">
            <h3>Quantitativas</h3>
            <p>
                Estudos online, face 2 face e telefônicos. Nesta modalidade o foco é sempre quantificar os resultados, isto é, percentualizar e com base em
                metodololgias estatísticas, gerar resultados e criar insights.
            </p>
        </div>
        
        <div class="card">
            <img src="../public/images/icone-1.png" width="80px" height="auto" alt="Qualitativas">
            <h3>Qualitativas</h3>
            <p>
               Nesta modadalidade, o foco é a profundidade das informações, não buscamos qual o percentual de respostas, mas sim a maior riqueza de detalhes em cada uma delas.
               Sejam entrevistas em profundidade ou grupos de discussão, aqui o foco é a riqueza de detalhes.
            </p>
        </div>
        
        <div class="card">
            <img src="../public/images/icone-3.png" width="80px" height="auto" alt="Geomarketing">
            <h3>Geomarketing</h3>
            <p>
                Oferecemos todas as metodologias relacionadas aos modelos de Geomarketing: Delimitação de áres de influência com base nas isócronas, contagem de fluxo, levantamento
                de oferta concorrente, levantamento de ABL, estimativas de potencias de consumo e levantamento completo de dados secundários.
            </p>
        </div>
    </article>

    <article class="middle-photo">
        <h2>E essa é apenas a base</h2>
        <img src="../public/images/img-5-5.png">

        <p>
            Focamos na criatividade e mesclamos todos os tipos de ferramentas e mídias em um único estudo, ou seja, são números, cruzados com opiniões, imagens, mapas, áudios e vídeos.
        </p>
        <p>
            <b>Investigamos tudo.</b>
        </p>
        <p>
            Seu público alvo opina com respostas fechadas ou se aprofunda nas opiniões e pontos de vista, criticando ou elogiando o que realmente seja relevante. Se necessário e aplicável,
             debate com outros clientes e/ou seus não-clientes.
            </p>
            </p>
        <p>
            <p><b>O que o seu cliente pensa de você?</b></p> 
            <p><b>Sabe qual a imagem da sua marca? E a imagem da concorrência?</b></p> 
            <p><b>Você sabe exatamente como estão os seus processos de vendas?</b></p> 
            <p><b>As melhorias estão sendo percebidas?</b></p> 
        </p>
        <button class="btn-blue-center">
            <b>SAIBA MAIS</b>
        </button>
    </article>

    <article class="container-blog">
        <h2> BLOG AC</h2>

        <div class="blog-content">

            <div>
                <img src="../public/images/post-1-diminuiram-as-visitas.jpg" alt="Diminuiram as Visitas">
                <p> E todo mundo virou instituto de Pesquisa.</p>
            </div>

            <div>
                <img src="../public/images/post-2-delivery-de-shopping.jpg" alt="Delivery de Shopping">
                <p> E todo mundo virou instituto de Pesquisa.</p>
            </div>

            <div>
                <img src="../public/images/post-3-sobre-o-tempo-de-permanencia.jpg" alt="O tempo de permanência">
                <p> E todo mundo virou instituto de Pesquisa.</p>
            </div>

        </div>
    </article>

    <article class="container-contact">

        <h2>FALE CONOSCO</h2>

        <form>
            <input class="name" name="name" placeholder="NOME">
            <input class="email" name="email" placeholder="E-MAIL">
            <select class="assunto">
                <option value="Selecionar assunto"> ASSUNTO </option>
                <option value="assunto 1"> Assunto 1 </option>
                <option value="assunto 2"> Assunto 2</option>
                <option value="assunto 3"> Assunto 3</option>

            </select>
            <input type="submit" value="ENVIAR">
        </form>
    </article>

    <footer>

        <div class="image-footer">
        <img src="../public/images/logo-footer.png" width="150px" height="auto" alt="">
        <h4> © 2021 AC Pesquisa - All Rights Reserved</h4>
        </div>

        <div>
        <h2>
            Rua Vinte e Três de Outubro, 25 Ferreira - São Paulo/SP <br>
            CEP: 05523-020
        </h2>
        
    </div>

    <div class="social-icons">
        <img src="../public/images/facebook-fale-conosco-icon.png" alt="">
        <img src="../public/images/linkedin-fale-conosco-icon.png" alt="">
        <img src="../public/images/instagram-fale-conosco-icon.png" alt="">


    </div>
    </footer>

</body>
</html>